<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="icon" href="/img/colours.jpg">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
      {{>Header}}
<div class="main-content">
      <h3>{{name}}</h3>  
<img class="portrait" src="/img/colours.jpg">
</div>

{{>Footer}}
</body>

</html>