<!DOCTYPE html>
<html>
<head>
<title>history</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/app.js"></script>
</head>

<body>
{{>Header}}
{{>Body}}
<h4>{{title}}</h4>
{{>Footer}}
</body>
</html>