<!DOCTYPE html>
<html>
<head>
<title>intro</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/app.js"></script>
</head>

<body>
{{>Header}}
<h4>{{introtxt}}</h4>
{{>Body}}
{{>Footer}}
</body>
</html>